<phpunit bootstrap="vendor/autoload.php" colors="true">
  <testsuites>
    <testsuite name="Singleton">
      <directory>tests/Singleton</directory>
    </testsuite>
    <testsuite name="Iterator">
      <directory>tests/Iterator</directory>
    </testsuite>
    <testsuite name="TemplateMethod">
      <directory>tests/TemplateMethod</directory>
    </testsuite>
  </testsuites>
</phpunit>